article h2 {
  font-size: 2.8rem;
  text-align: center;
  color: blue;
}

article h3 {
  font-size: 2.5rem;
  text-align: center;
  color: blue;
}

article h4 {
  font-size: 2.2rem;
  text-align: center;
  color: blue;
}

#inspiration {
  height: 590px;
  position: relative;
  top: 1px;
}

@media only screen and (min-width: 769px) {
  #inspiration {
    top: 140px;
  }
}

.steps {
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: space-around;
}

.step {
  height: 50%;
  width: 18%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

article p {
  font-size: 0.6rem;
  font-weight: bold;
  color: blue;
}
@media (min-width: 769px) {
  article p {
    font-size: 1.2rem;
  }
}

.step img {
  width: 100%;
  border-radius: 5px;
  border: solid blue 3px;
  box-shadow: 10px 10px 50px -20px grey;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 769px) {
  .step img {
    justify-content: center;
  }
}

#result {
  background: url("/assets/images/itGarden.jpg") no-repeat fixed;
  width: 100%;
  height: 250px;
  margin: 0 auto;
  color: white;
  background-size: cover;
}

@media (min-width: 769px) {
  #result {
    height: 350px;
  }
}

.inspirations {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 170px;
  justify-content: center;
}

@media (min-width: 769px) {
  .inspirations {
    display: flex;
    justify-content: center;
    height: 100px;
  }
}
