article h2 {
  font-size: 35px;
  text-align: center;
  color: blue;
}

article h3 {
  font-size: 32px;
  text-align: center;
  color: blue;
}

article h4 {
  font-size: 25px;
  text-align: center;
  color: blue;
}

#inspiration {
  height: 320px;
  position: relative;
  top: 1px;
}

@media only screen and (min-width: 769px) {
  #inspiration {
    top: 50px;
    height: 873px;
  }
}

.steps {
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: space-around;
}

.step {
  height: 50%;
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

article p {
  font-size: 10px;
  font-weight: bold;
  color: blue;
  text-align: center;
}
@media (min-width: 769px) {
  article p {
    font-size: 20px;
  }
}

.step img {
  width: 100%;
  border-radius: 5px;
  border: solid blue 3px;
  box-shadow: 10px 10px 50px -20px black;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 769px) {
  .step img {
    justify-content: center;
  }
}

.final {
  color: red;
  font-size: 25px;
  text-align: center;
  background-position:center;
}

.final img {
  width: 100%;
  border: solid blue 3px;
  box-shadow: 10px 10px 50px -20px black;
}

@media (min-width: 769px) {
  .final img {
    width: 70%;
  }
}

#resultTree {
  background: url("https://upload.wikimedia.org/wikipedia/commons/9/92/B%C3%A4ume_Jahreszeit_2013.jpg") no-repeat fixed;
  width: 100%;
  height: 200px;
  background-position:center;
  background-color: white;
  background-size:contain;
}

@media (min-width: 769px) {
  #resultTree {
    height: 350px;
  }
}


.inspirations {
  padding: 5px;
 width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 769px) {
  .inspirations {
    display: flex;
    justify-content: center;
  }
}

iframe {
  width: 25%;
  height: 45px;
  margin: 10px;
}


@media (min-width: 769px) {
  iframe {
    width: 29%;
    height: 100%;
  }
}
