
.links {
  font-size: 15px;
  font-family: 'Arial Narrow', 'Times New Roman', Times, serif, sans-serif;
  font-weight: 800;
  margin: auto;
  text-align: center;
  background: black;
  padding-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 21px;
}

@media (min-width: 768px) {
  .links {
    font-size: 22px;
  }
}

.links a {
  color: white;
  padding: .1px 5px 1.5px  5px;
  text-shadow: 1.5px 1.5px 1.5px black;
  text-decoration: none;
}

.gallery-links:hover,
.gallery-links:active {
  color: cyan;
  animation: gallery-links 0.35s ease-in-out;
}

@keyframes gallery-links {
  20% {
    transform: translateX(8px);
  }
  40% {
    transform: translateX(-6px);
  }
  60% {
    transform: translateX(4px);
  }
  80% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}
