
.links {
  font-size: 15px;
  font-family: 'Arial Narrow', Impact, Haettenschweiler, sans-serif;
  font-weight: 800;
  text-align: center;
  background: blue;
  padding-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 35px;
}

@media (min-width: 768px) {
  .links {
    font-size: 22px;
  }
}

.links a {
  color: white;
  padding-right: 10px;
  text-decoration: none;
}

@media (min-width: 768px) {
  .links a {
    padding-right: 50px;
  }
}

.gallery-links:hover,
.gallery-links:active {
  color: red;
  animation: gallery-links 0.4s ease-in-out;
}

@keyframes gallery-links {
  20% {
    transform: translateX(8px);
  }
  40% {
    transform: translateX(-6px);
  }
  60% {
    transform: translateX(4px);
  }
  80% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}
